.App {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #9da993;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

.App-logo {
  float: left;
  margin-top: 15px;
  max-width: 200px;
}

.App-header.fixed-top {
  background-color: #9da993;
  max-height: 80px;
  padding-left: 20px;
  margin-bottom: 50px;
}

.App-footer {
  font-size: small;
}
.App .quote {
  float: right;
  text-align: right;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 20px;
}
