.App {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #dbcdc1;
  color: #fff;
}

.App-logo {
  display: block;
  margin-top: 15px;
  max-width: 200px;
}

.App-header {
  background-color: #dbcdc1;
  min-height: 60px;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.App-footer {
  font-size: small;
}
