.App {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #9da993;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

.App-logo {
  float: left;
  margin-top: 20px;
  max-width: 200px;
}

.App-header.fixed-top {
  background-color: #9da993;
  max-height: 80px;
  padding-left: 20px;
  box-shadow: 1px 1px 16px rgb(136, 136, 136);
}

.App-footer {
  font-size: small;
  padding-bottom: 15px;
}
.App .quote {
  float: right;
  text-align: right;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 20px;
}
.App .link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.App .link:hover {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}
