.Dictionary {
  padding: 20px 0px;
}

.Dictionary section {
  margin: 5px 0px;
}
.Dictionary form {
  padding: 10px 20px;
}
.Dictionary .question {
  text-align: left;
  padding: 0 20px;
  font-size: 20px;
}
.Dictionary .suggestion {
  text-align: left;
  padding: 0 20px;
  font-size: 14px;
  margin-top: -20px;
}
