.Results {
  text-align: left;
  margin: auto;
  width: 96%;
  padding: 10px;
}
.Results-info {
  padding: 10px 5px;

  background-color: #dbcdc1;

  border-radius: 6px;
}
.Results .col-4 {
  padding: 0 5px;
}
.Results .col-8 {
  padding: 0;
}
.Results h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
}
