.Results {
  text-align: left;
  margin: auto;
  width: 96%;
  padding: 10px;
}
.Results-info {
  padding: 10px 5px;

  background-color: #dbcdc1;
  opacity: 0.4;
  border-radius: 8px;
}
.Results .col-4 {
  padding: 0 5px;
}
.Results .col-8 {
  padding: 0;
}
